
body{
    margin: 0px;
    background-color: rgba(244, 244, 236, 0.938);

    
}
.section{
    margin: 0px;
    padding: 0px;
    background-color: rgba(239, 239, 230, 0.938);
    height: 100vh;
     padding: 0px;
   
    margin: 0px;
    border-radius: 0 0 25px 25px;

     background-image:url(image/4.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
   background-size: cover;
    height: 110vh;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

   

}


.icon img{
    margin: 0px;
    width: 100px;
    touch-action: auto;
  
}
.link {
    display: flex;
    justify-content: space-between;
    height: 30px;
   
    padding: 10px;
  margin: 0px;
  gap: 10px;

 
  
    
    
}
.link a{
    text-decoration: none;
     color: #fffefe;
     padding: 5px;
     border-radius: 10px;
}
.link a:hover{
   
    color: rgb(199, 162, 40);
  
    transition: 0.4s;
}
.button {
    background-color: transparent;
    color: #ffffff;
    border-radius: 25px;
    border-width: 1px;
    border-color: white;
    padding: 10px 20px;
     border: none;
    background-color: rgba(35, 35, 35, 0.457);
    letter-spacing: 3px;
 
    font-weight: 50;
    height: 35px;
   

}
.button:hover {
    background-color:rgba(35, 35, 35, 0.457);
    color: hsl(43, 80%, 51%);
    border-radius: 25px;
    border-width: 1px;
    border-color: white;
    padding: 10px 20px;
    transform: scale(1.1);
    transition: 0.5s;
    





}
.content1{
 
    
    margin: 0px;
    padding-right: 700px;
    padding-top:100px ;
   
    height: 100vh;

}
.content1 p{
    color: #fffefe;
    font-size: 10px;
    width: 500px;
    line-height: 1.5;
    margin: 10px;
    padding: 5px;
}
.content1 h1{
    color: #fffefe;
    font-size: 50px;
    margin: 10px;
    padding: 5px;
}.content1 h4{
    color:darkgrey;
  font-size: 20px;
    margin: 10px;
    padding: 5px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0px;
    padding: 20px;
    gap: 20px;
    

}
.content img{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 20px;

    border-radius: 35px;
 height: 400px;
   
}
.modeles-img-total img{

    width: 200px;
    height: 200px;
}
.modeles-content1{
    margin: 0px;
    padding: 0px;
    background-color: darkgray;


}
.modeles-img img{
    width: 50px;
   
}
.modeles-content{
    display: flex;
   
    align-items: center;
    margin: 0px;
    padding: 5px 25px;
  
}

.img-pr img{
    width: 300px;
    height: 300px;
  
    border-radius: 25px 25px 0 0 ;
    margin: 0px;
    padding: opx;
}
.cardes-content img{
    width: 50px;
    margin: 0px;
    padding: 0px;


}
.cardes-content{
    display: flex;
   align-items: center;
    margin: 0px;

  
    gap: 10px;
}
.cardes{
    margin: 5px;
    background-color: rgba(243, 243, 243, 0.521);
    width: 300px;
    border-radius: 25px;
  
}
.cardes-content{
    padding: 10px;
}
.cardes-text p{
    width: 200px;

}
.all-cardes{
        display: flex;
       background-color: #fdf5f7	;	
        flex-wrap: wrap;
}